/* NOTE: The styles were added inline because Prefixfree needs access to your styles and they must be inlined if they are on local disk! */
      * { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
*:before, *:after { -webkit-box-sizing: inherit; -moz-box-sizing: inherit; box-sizing: inherit; }
html { 
	background: #fff;
	font: normal 1em/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif; color: #fff;
	text-align: center; 
	height: 100%; 
}
body { 
	height: 100%; 
}

}

.msocial {
	color:white;
}
.msocial a {
	color:white;
} 
.jumbotron { 
background-image: url(img/zbits-logo.svg);	
background-repeat: no-repeat;
background-size: 50%;
background-position: 50% 50%;
}
.divisor { 
position:absolute;
text-align: center;
margin:auto;

 }
 .centrado {
 margin:auto;
 top:50%;
 left:50%;
 }
.carousel-caption {
    position: absolute;
    left: auto;
    right: auto;
    width: 40%;
    height: auto;

    opacity: 0.8
}
 .transparente { 
 background-color: rgba(0,0,0,0.8); 
 padding:15px;
 text-align: center;
 position:absolute;
right:50px;

}

span {
	color:#83C83B;
}

.input-group-prepend span{
width: 50px;
background-color: #83C83B;
color: black;
border:0 !important;
}

.separador {
	background-color: #83C83B;
}

.text-separador {
	font-family: 'Shadows Into Light', cursive;
padding: 9px 9em;
padding-top: 9px;
padding-right: 9em;
padding-bottom: 9px;
padding-left: 9em;
position: relative;
color:white;
height: auto;
margin:auto;
text-align: center;



}



.esfera {
border-bottom-left-radius: 90px;
    border-bottom-right-radius: 90px;
    height: 45px;
    width: 90px;
    background: #83C83B; /*color separador*/
    display: inline-block;
    text-align:center;


}

.text_1 {
	justify-content: center;
	text-align: center;



}

.text_2 {
	background:
	radial-gradient(black 15%, transparent 16%) 0 0,
	radial-gradient(black 15%, transparent 16%) 8px 8px,
	radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
	radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
	background-color:#282828;
	background-size:16px 16px;
	justify-content: center;
	text-align: center;


	

}

.contacto1 {
	font-family: 'Shadows Into Light', cursive;
}

.contacto2 {
	font-family:Impact, sans-serif;
	font-style: bold;
	font-size: 30px;
}

.contact {
	text-align: left;
}